.post_content{
    max-width: 744px;
    max-height: 377px;
}

.riddle-target{
    max-width: 640px;
    max-height: 117px;
}

.custom-logo{
    max-width: 130px;
    max-height: 87px;
    float: right;
    margin: 0;
    position: static;
    display: block;
}

.parag1 {
    max-width: 744px;
    max-height: 84px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .01em;
    color: #262626;
    font-weight: 300;
}

.parag2 {
    max-width: 744px;
    max-height: 140px;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: .01em;
    color: #262626;
    font-weight: 300;
}

.cor{
    text-decoration: underline;
    color: #6495ed;
    font-weight: bold;
}

.posts.col{
    max-width: 892px;
    max-height: 665px;
    display: flex;
}

.row{
    max-width: 1264px;
    max-height: 665px;
}

.site_content{
    max-width: 1920px;
    max-height: 665px;
}

.container_sm{
    max-width: 1160px;
    max-height: 0px;
}


